/** BREADCRUMBS - BEGIN
----------------------------------------------------------------------------- */
.hdr-container {
    display: flex;
	flex-direction: column;

	transition: 0.3s 0.2s;
	opacity: 0;
	transform: scale(0);
}

.hdr-container.on {
	transform: none;
	opacity: 1;
}

.hdr-top {
    display: flex;
    justify-content: space-between;
}

.hdr-top h1,
.hdr-top span {
	cursor: pointer;
}

.breadcrumbs {
    list-style: none;
    display: flex;
	align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs li {
    cursor: pointer;
    color: var(--black);
    font-weight: 500;
    display: flex;
}

.breadcrumbs li:hover {
    color: var(--blue-dark);
}

.breadcrumbs li:has(span) {
    margin: 0 0.5rem 0 0;
}

.breadcrumbs li + span {
    color: var(--red);
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs li:nth-child(2) span {
    margin-right: -0.6rem;
    color: rgb(0 0 0 / 25%);
}

.breadcrumbs li + span:last-child {
    display: none;
}