/* Material Icons Outlined
----------------------------------------------------------------------------- */
@font-face {
	font-family: "mio";
	font-stretch: 100%;
	font-style: normal;
	font-weight: 100 700;
	src: url(/asset/font/mio.woff2) format("woff2");
}

/* Material Symbols Outlined
----------------------------------------------------------------------------- */
@font-face {
  font-family: "mso";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 700;
  src: url(/asset/font/mso.woff2) format("woff2");
}

.material-symbols-outlined {
  font-family: 'mso';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined.not {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

/* Virgil (Excalidraw.com) -------------------------------------------------- */
@font-face {
	font-family: "vg";
	font-stretch: 100%;
	font-style: normal;
	font-weight: 400;
	src: url(/asset/font/vg.woff2) format("woff2");
}

/* OpenSans
----------------------------------------------------------------------------- */
@font-face {
  font-family: "os";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url(/asset/font/os.woff2) format("woff2");
}