/** LAYOUT
----------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.container {
    min-width: 200px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header,
footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6000;
}

/** HEAD
----------------------------------------------------------------------------- */
header {
    box-shadow: var(--elevation-6);
	padding: 0.5rem 0;
}

header .container {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

header h1 {
	font-size: 1.4rem;
    color: inherit;
}

header span.material-symbols-outlined {
	color: var(--tertiary);
	font-size: 20px;
}

/** MAIN
----------------------------------------------------------------------------- */
main {
	display: flex;
	flex: 1;
	overflow: auto;
	scrollbar-gutter: stable;
}