
/* THEME DEFAULT ------------------------------------------------------------------ */
:root {
    --primary: #b71c1c;
    --secondary: #0060c1;
    --tertiary: #ff8000;
    --hover: #889900;

    /* PAGE */
    --text: #222222;
    --bg: #f4f4f4;

    /* PAGE DARK */
    --text-dark: #f1f1f1;
    --bg-dark: #681010;

    /* WHITE SCALE */
    --white: #ffffff;
    --white-1: #f9f9f9;
    --white-2: #f4f4f4;
    --white-3: #f1f1f1;
    --white-4: #e8e8e8;
    --white-5: #dddddd;
    --white-6: #cccccc;
    --white-7: #bbbbbb;
    --white-8: #aaaaaa;
    --white-9: #999999;

    /* BLACK SCALE */
    --black: #000000;
    --black-1: #222222;
    --black-2: #261414;
    --black-3: #333333;
    --black-4: #444444;
    --black-5: #570505;
    --black-6: #666666;
    --black-7: #777777;
    --black-8: #888888;

    /* COMMON */
    --red: #b71c1c;
    --red-light: #c62828;
    --red-dark: #681010;
    --blue: #0060c1;
    --blue-light: #534caf;
    --blue-dark: #040086;
    --green: #889900;
    --yellow: #e6ff00;
    --orange: #ff8000;

    /* ELEVATION */
    --elevation-1: 0 0 2px rgba(0, 0, 0, 0.2);
    --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.2);
    --elevation-3: 0 6px 12px rgba(0, 0, 0, 0.2);
    --elevation-4: 0 10px 20px rgba(0, 0, 0, 0.4);
    --elevation-5: 0 10px 30px rgba(0, 0, 0, 0.4);
    --elevation-6: 0 20px 50px rgba(0, 0, 0, 0.2);

    /* RADIUS */
    --radius: 4px;
    --radius-1: 8px;
    --radius-2: 1rem;
    --radius-3: 1.5rem;
    --radius-4: 2rem;
    --radius-5: 50%;
}

/* STYLE ------------------------------------------------------------------ */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    outline: none;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

html,
body,
button,
input,
select,
label,
table,
textarea {
    font-size: 16px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", system-ui, Roboto,
        "Helvetica Neue", Ubuntu, Tahoma, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background: var(--white-4);
    color: var(--text);
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    min-width: 100%;
}

hr {
    clear: both;
}

sup {
    margin: -0.2rem 0.1rem 0 0;
    font-size: 0.7rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text);
    text-shadow: none;
    /* text-align: center; */
}

p {
    color: var(--text);
    text-shadow: none;
    clear: both;
}

.container {
    min-width: 200px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


/** LAYOUT
----------------------------------------- */
header,
footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6000;

    /* background: var(--black);
    color: var(--text-dark); */
}

header {
    box-shadow: var(--elevation-6);
	padding: 0.5rem 0;
}

main {
    display: flex;
    flex: 1;
    overflow: auto;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


/** BUTTON
----------------------------------------- */
button {
    transition: 0.4s;
    min-width: 5rem;
    min-height: 2.5rem;
    cursor: pointer;
    background: var(--secondary);
    border: none;
    border-radius: var(--radius);
    color: var(--white);
    text-shadow: none;
    box-shadow: var(--elevation-1);
}

button:hover {
    color: var(--white);
    background: var(--hover);
}

button .material-icons {
    font-size: 1.3rem;
    margin: 0.2rem 0.5rem 0 0;
}

button.btn {}

button.btn-secondary {
    color: var(--white);
    background: var(--tertiary);
}

button.btn-danger {
    color: var(--white);
    background: var(--primary);
}

/** INPUT
----------------------------------------- */
label {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    padding: 0 0 0 0.5rem;
    display: block;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
select,
textarea {
    background: var(--white);
    border: none;
    border-radius: var(--radius-2);
    border-bottom: 1px solid var(--white-7, #cccccc);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) inset;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    width: 100%;
    min-height: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1rem;
    height: 1rem;
    float: left;
    margin: 0.2rem 0.5rem 0 0;
    -moz-appearance: auto;
    -webkit-appearance: auto;
    appearance: auto;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    height: 3rem;
    width: 3rem;
    margin: 0;
}

/** HEAD
----------------------------------------- */
header h1 {
    font-size: 1.4rem;
    color: inherit;
}

header span.material-symbols-outlined {
    color: var(--tertiary);
}

/** MAIN
----------------------------------------- */


/** BREADCUMBS - BEGIN
----------------------------------------- */
.breadcumbs {
    list-style: none;
    display: flex;
	flex-wrap: wrap;
    padding: 0;
}

.breadcumbs li {
    cursor: pointer;
    color: #000;
    font-weight: 500;
    display: flex;
}

.breadcumbs li:hover {
    color: #01d;
}

.breadcumbs li:has(span) {
    margin: 0 0.5rem 0 0;
}

.breadcumbs li + span {
    margin: 0 0.2rem;
    color: #f00;
}

.breadcumbs li + span:last-child {
    display: none;
}


/** FILE LIST
----------------------------------------- */
ul.files {
    list-style: none;
    padding: 1rem 0;
}

ul.files li {
    padding: .5rem 0;
    /* margin: 0 0 .5rem 0; */
    display: flex;
    align-items: flex-start;
    /* background: var(--white-3);
    box-shadow: var(--elevation-1);
    border-radius: var(--radius); */
    overflow-wrap: anywhere;
    cursor: pointer;
	border-bottom: 1px dashed #bbb;
}

ul.files li:hover,
ul.files li:active {
    background: var(--white);
}

ul.files li:hover a,
ul.files li:active a {
    color: var(--blue-dark);
}

ul.files li span.material-symbols-outlined {
    margin: 0 .5rem 0 0;
    color: var(--blue-dark);
}

ul.files li.file-folder i {
    color: var(--orange);
}

ul.files li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.2rem;
}

ul.files li .filetitle {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

ul.files li .fileinfo {
	font-size: .8rem;
	overflow-wrap: normal;
}

/** FOOTER
----------------------------------------- */
footer .bmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

footer .bmenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary);
    padding: .5rem;
}

footer .bmenu li span.material-symbols-outlined {
    margin: .2rem 0;
	font-size: 1.5rem;
}

footer .bmenu li span {
    font-size: .8rem;
}

/** View Box
------------------------------------------ */
.vwb-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: fixed;
	inset: 0;
	z-index: -100;

	background: rgb(0 0 0 / 87%);
	
	transition: .2s;
	opacity: 0;
	transform: scale(0);
}

.vwb-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #ff0;
	padding: 0 1rem;
}

.vwb-box span {
    cursor: pointer;
    background: rgb(255 0 0 / 39%);
    padding: 0.5rem;
}

.vwb-box video,
.vwb-box audio,
.vwb-box img {
	max-width: 100%;
	max-height: calc(100vh - 116px);
	
	transition: 0.3s 0.2s;
	opacity: 0;
	transform: scale(0);
	height: 0;
}

.vwb-box.on {
	z-index: 10000;
	transform: none;
	opacity: 1;
}

.vwb-box.on.video video,
.vwb-box.on.audio audio,
.vwb-box.on.img img {
	transform: none;
	opacity: 1;
	height: auto;
}

.vwb-box.on.audio audio {
	height: 30px;
}